.contenedorBotonesCheckOut {
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    width: 95%;
}


.productos-checkout {
    width: 368px;
    height: 64px;
    flex-shrink: 0;
    border-radius: 18px;
    border-radius: 18px;
    background-color: #D9D9D9;
    border-color: #D9D9D9;
    color: black;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.productos-checkout:hover {
    background: rgb(50, 246, 0);
    border-color: rgb(50, 246, 0);
    color: black;
}

.productos-checkout-clicked {
    width: 368px;
    height: 64px;
    flex-shrink: 0;
    border-radius: 18px;
    border-color: rgb(50, 246, 0);
    background:  rgb(50, 246, 0);
    color: black;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    /* align-items: center;
    width: 380px;
    height: 80px;
    padding-top: 15px;
    padding-bottom: 15px;
    border: none;
    background-color: rgb(50, 246, 0);
    border-radius: 20px;
    font-size: 30px; */
}