.contenedorBotones-cajas {
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    width: 95%;
}


.cajas {
    width: 600px;
    height: 64px;
    flex-shrink: 0;
    border: 0px solid white;
    border-bottom: 5px solid white;
    background-color: white;
    color: black;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.cajas:hover {
    background: white;
    border-color: white;
    border-bottom: 5px solid rgb(50, 246, 0);
    ;
    color: rgb(50, 246, 0);
}

.cajas-clicked {
    width: 600px;
    height: 64px;
    flex-shrink: 0;
    border: 0px solid white;
    border-bottom: 5px solid rgb(50, 246, 0);
    background-color: white;
    color: rgb(50, 246, 0);
    font-feature-settings: 'clig' off, 'liga' off; 
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}