.contenedor-detalles-titulo {
    display: flex;
    height: 88px;
    padding: 0px 45px;
    align-items: center;
    gap: 10px;
}

.contenedor-detalles-producto {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    gap: 74px;
}

.contenedor-botones-suscripcion {
    display: flex;
    flex-flow: wrap;
    width: 580px;
    padding: 28px 48px;
    justify-content: space-between;
    align-items: center;
    border-radius: 24px;
    background: #E4E4E4;
    row-gap: 16px;
}

.detalles-titulo {
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'Lato', sans-serif;
    font-size: 38px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    /* 66.667% */
    text-transform: uppercase;
}

.detalles-producto {
    display: flex;
    justify-content: space-between;
    width: 680px;
    height: 196px;
    row-gap: 29px;
}

.informacion-producto {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.carrusel-imagenes {
    width: 448px;
    height: 552px;
    flex-shrink: 0;
    background-color: #9C9C9C;
}

.card-detalles {
    display: flex;
    padding: 25px 45px;
    align-items: flex-start;
    gap: 72px;
}

.titulo-producto {
    display: flex;
    justify-content: left;
    width: 350px;
    flex-shrink: 0;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'Lato', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.subtitulo-producto {
    color: #000;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.contenedor-valoracion {
    display: flex;
    width: 184px;
    justify-content: space-between;
    align-items: center;
}

.numero-valoracion {
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 300;
    line-height: 20px;
}

.numero-valoracion-suscripcion {
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'Lato', sans-serif;
    width: 400px;
    font-size: 25px;
    text-align: left;
    font-style: normal;
    font-weight: 300;
    line-height: 20px;
}

.texto-producto {
    width: 350px;
    height: auto;
    color: #000;
    font-feature-settings: 'clig' off, 'liga' off;
    text-overflow: ellipsis;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    text-transform: lowercase;
}

.precio-producto {
    display: flex;
    width: 280px;
    height: 80px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #000;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'Lato', sans-serif;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: 64px;
}

.botones-producto {
    display: flex;
    width: 88px;
    height: 40px;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 16px;
    background: #C9C9C9;
    color: #000;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px
}

.boton-cant-prod {
    display: flex;
    flex-shrink: 0;

}

.contenedor-botones-producto {
    display: flex;
    width: 580px;
    padding: 28px 48px;
    justify-content: space-between;
    align-items: center;
    border-radius: 24px;
    background: #E4E4E4;
}