

.botones {

    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: center;

}


.productoss {
    align-items: end;
    background-color: white;
    height: 50px;
    border: none;
    align-items: center;
    text-align: center;
    color: #252525;
    font-family: 'Novatica', sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;

}

button.productoss:disabled {
    
    color: lightgray;
}

button.productoss a:hover {
    text-decoration: none;
    color: #820A7D;
}

.barra-menu {
    display: flex;
    justify-content: space-between;
}

.columnas-menu {
    justify-content: space-around;
}

.item-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.a-menu {
    color: #252525;
}

.a-menu :hover {
    text-decoration-color: #820A7D;
}
