

.textoo{
  color: var(--text-default, #252525);
  /* Headlines/L */
  font-family:  Novatica, sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  text-align: center;
}
 
.text-lateral{
  color:  #820A7D;
  /* Headlines/XL */
  font-family: Novatica, sans-serif;
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: 58px; 
}

.target{
  gap: 30px;
  display: flex;
  justify-content: center;
 
}

