

.textoo{
  color: var(--text-default, #252525);
  /* Headlines/L */
  font-family:  Novatica, sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  text-align: center;
}
 
.text-lateral{
  color:  #820A7D;
  /* Headlines/XL */
  font-family: Novatica, sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px; 
  display: flex;
  align-items: center;
}

.target{
  gap: 30px;
  display: flex;
  justify-content: center;
 
}

.contenedor-cards {
  display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    margin-bottom: 60px;
}

.cont-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.titular{
  color: var(--Text-Default, #252525);
/* Headlines/M */
font-family: 'Novatica', sans-serif !important;
font-size: 28px;
font-style: normal;
font-weight: 700;
line-height: 36px;
width: 427px; 
}

.parrafos {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
}

.suscripcion-producto{
  color: var(--Text-Default, #252525);
/* Headlines/S */
font-family: 'Novatica', sans-serif !important  ;
font-size: 20px;
font-style: bold;
font-weight: 700;
line-height: 28px;
}

.texto-numerado {
  display: flex;
width: 427px;
padding: 0px 24px;
align-items: flex-start;
align-content: flex-start;
gap: 24px 16px;
flex-shrink: 0;
flex-wrap: wrap;
}

.texto-parrafos {
  color: var(--Text-Default, #252525);
/* Body/S */
font-family: 'Lato', sans-serif, !important;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px;
}