  
  .container8 {
/*     padding: 10px;
    margin-top: 10px; */
    border-radius: 10px;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    background-color: #9e8c8c;
    justify-content:stretch;
    
/*     margin: 10px auto */
  }
  
  .fotoProducto {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
  }

  .tituloPrecio {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }


  .botonera {
    gap: 5px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center ;
  }

  .botones8 {
    gap: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center ;
  }
  
  .publicación {
    text-align: justify;
    margin-bottom: 20px;
  }

  h3 {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  }
  
  h4 {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    margin: 0px;
  }
  

  .p {
    margin-top: 0px;
  }
  
  .textoPublicacion {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    padding-left: 5%;
    padding-right: 5%;
    display:flex;
    flex-direction: row;
    justify-content:space-around;
    width: 90%;
    text-align: justify;
    /* margin-left: 40px;
    margin-right: 40px;
    margin-top: 5px;
    margin-bottom: 5px; */
  }
  
  .botonCierre {
    min-width: 50px;
    padding: 10px;
    border: none;
    border-radius: 10%;
    display: block;
    background-color: rgb(105, 105, 105);
    color: white;
    text-align: center;
    margin-left: 230px;

  }
  .botonCierre svg{
    height: 24px;
    max-width: 24px;
    color: white;

  }

  .cardProducto {
    width: 20%;
    margin: auto;
    padding-top: 40px;
    align-items:center;
  }

  .precio {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

    margin-top: 19px;
    margin-bottom: 19px;
    color: brown;
    font-size: larger;
    font-weight: 800;
    text-align: right;
  }
 