.contenedor-body-checkout {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
   
    border-radius: 16px;
    background: var(--Others-Cards, #F9F9F7);

}

.contenedor-envio {
    display: flex;
    width: 95%;
    height: 850px;
    flex-shrink: 0;
    border-radius: 24px;
    background-color: #D9D9D9;

}

.contenedor-datos {
    display: flex;
    width: 95%;
    height: 600px;
    flex-shrink: 0;
    border-radius: 24px;
    background-color: #D9D9D9;

}

.envio {
    color: #000;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'Lato', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    /* 80% */
    display: flex;
    width: 268px;
    height: 400px;
    padding: 56px;
    padding-top: 80px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
}

.datos-envio {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

}

.campo-formulario {
    color: #848484;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    border-radius: 12px;
    background: #F8F5F5;

    display: flex;
    width: 750px;
    height: 48px;
    padding: 0px 24px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-shrink: 0;
}

.campo-formulario-datos {
    color: black;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;

    display: flex;
    width: 750px;
    height: 48px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-shrink: 0;
}

.contenedor-inputs {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 7px;
}

.contenedor-inputs-datos {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 7px;
    padding-right: 50px;
}

.label-inputs {
    color: black;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    margin-left: 10px;
}

.label-datos {
    color: #848484;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    ;
}


.help-text {
    color: #d01212;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 275;
    line-height: 20px;
    margin-left: 10px;
}

#seleccionar-region {
    color: #848484;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    border-radius: 12px;
    background: #F8F5F5;
    border: 0px solid F8F5F5;

    display: flex;
    flex-direction: row;
    width: 380px;
    height: 48px;
    padding: 0px 24px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.campo-select {
    display: flex;

    justify-content: space-between;
    width: 800px;

}

.campo-corto {
    color: #848484;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    border-radius: 12px;
    background: #F8F5F5;
    border: 0px solid F8F5F5;

    display: flex;
    flex-direction: row;
    width: 335px;
    height: 48px;
    padding: 0px 24px;
    justify-content: flex-start;
    align-items: center;
    flex-shrink: 0;
}

.campo-corto-datos {
    color: black;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    border-radius: 12px;

    display: flex;
    flex-direction: row;
    width: 335px;
    height: 48px;
    justify-content: flex-start;
    align-items: center;
    flex-shrink: 0;
}



.boton-formulario {
    width: 800px;
    height: 48px;
    padding: 0px 24px;
    flex-shrink: 0;
    border-radius: 12px;
    background-color: #848484;
    border-color: #848484;
    color: #F8F5F5;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

}

.boton-formulario:hover {
    background: rgb(50, 246, 0);
    border-color: rgb(50, 246, 0);
    color: black;
}

.boton-ingresar {
    color: var(--Text-White, var(--ICON-WHITE, #F5F5F5));
    text-align: center;
    /* Button/L */
    font-family: 'Novatica', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;

    display: flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    /*flex: 1 0 0;*/
    border-radius: 8px;
    background: var(--Buttons-Default, #007D7B);
    /* Button Shadow */
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);


}

.boton-ingresar:hover {
    background:   #820A7D;
    border-color:   #820A7D;
    color: white;
}

.botones-datos {
    display: flex;
    width: 800px;
    gap: 40px;
}


.contenedor-pago {
    display: flex;
    width: 95%;
    height: 144px;
    flex-shrink: 0;
    border-radius: 24px;
    background-color: #D9D9D9;
}

.ingreso {
    color: var(--Titles-Black, #252525);
    font-family: 'Novatica', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 44px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.seleccione-pago {
    color: #000;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'Lato', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
    padding-left: 110px;
    width: 95%;
}

.contenedor-seleccione-pago {
    display: block;
    flex-direction: column;
    flex-wrap: wrap;
    width: 95%;
    height: 300px;
    flex-shrink: 0;
    border-radius: 24px;
    background-color: #D9D9D9;

}

.medios-pago {
    width: 336px;
    height: 72px;
    flex-shrink: 0;
    border-radius: 16px;
    background: #F8F5F5;
    border: 0px solid #F8F5F5;
    color: #5F5F5F;

    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
}

.medios-pago:hover {
    width: 336px;
    height: 72px;
    flex-shrink: 0;
    border-radius: 16px;
    background: rgb(50, 246, 0);
    border: 0px solid rgb(50, 246, 0);
    color: black;

    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
}

.medios-pago-clicked {
    width: 336px;
    height: 72px;
    flex-shrink: 0;
    border-radius: 16px;
    background: rgb(50, 246, 0);
    border: 0px solid rgb(50, 246, 0);

    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
}

.contenedor-body-medios-pago {
    display: flex;
    height: 700px;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    padding-bottom: 48px;
}

.contenedor-body-exito-pago {
    display: flex;
    height: 1100px;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    padding-bottom: 48px;
}


.boton-volver {
    width: 336px;
    height: 72px;
    flex-shrink: 0;
    border-radius: 16px;
    background: #5F5F5F;
    border: 0px solid #5F5F5F;
    color: white;

    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
}

.boton-volver:hover {
    width: 336px;
    height: 72px;
    flex-shrink: 0;
    border-radius: 16px;
    background: rgb(50, 246, 0);
    border: 0px solid rgb(50, 246, 0);
    color: black;

    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
}

.contenedor-volver-home {
    display: block;
    flex-direction: column;
    flex-wrap: wrap;
    width: 95%;
    height: 110px;
    flex-shrink: 0;

}

.fondo-mantenedor {
    padding: 80px 120px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;

    border-radius: 16px;
    background: var(--Others-Cards, #F9F9F7);
}