.product-image2 {
    width: 50px; /* Ajusta este valor a lo que necesites */
    height: auto;
}

.caja{
    border: solid 1px #000000;
}

.card-img-top{
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.comprar{
    width: 80%;
    display: flex;
    justify-content: center;
}

.botoneditar{
    width: 80%;
    height: 80%;
}