.contenedor-faq {
    display: flex;
    width: auto;
    padding: 40px 0px 80px 0px;
    margin-top: 80px;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
    row-gap: 40px;
    flex-wrap: wrap;
    background: var(--Others-FAQ, #EFF9F9);

}

.pregunta {
    color: var(--Text-Default, #252525);
    /* Fields/Dropdown */
    font-family: 'Lato', sans-serif !important;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.respuesta {
    color: var(--Text-Default, #252525);
    font-family: 'Lato', sans-serif !important;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.titulo-faq {
    color: var(--Titles-Default, var(--ICON-ACTIVE, #025B59));
    /* Headlines/L */
    font-family: 'Novatica', sans-serif !important;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 44px;
}

.cuerpo-faq {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    width: 100%
}

.mi-acordeon .accordion-header {
    padding: 8px 16px;
    align-items: flex-start;
    gap: 4px;
    align-self: stretch;
    border-bottom: 2px solid var(--Buttons-Default, #007D7B);

    margin: 0px;
    width: 1200px;
    height: 40px;
    }

.mi-acordeon .accordion-body {
    background-color: #fff;
    color: #666;
    padding: 20px;
}