.product-detail {
    padding: 40px 60px 64px 60px;
}

.detalles-titulo {
    color: var(--Text-Default, #252525);
    font-family: 'Novatica', sans-serif !important;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
}

.detalles-precio {
    color: var(--Text-Default, #820A7D);
    font-family: 'Novatica', sans-serif !important;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
}

.detalles-descripcion {
    color: var(--Text-Default, #252525);
    text-overflow: ellipsis;
    /* Body/S */
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}


.agregar-carro {
    color: var(--Text-White, var(--ICON-WHITE, #F5F5F5));
    text-align: center;
    /* Button/L */
    font-family: 'Novatica', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    width: 1200px;
    display: flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    /*flex: 1 0 0;*/
    border-color: #007D7B;
    border-radius: 8px;
    background: var(--Buttons-Default, #007D7B);
    /* Button Shadow */
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.agregar-carro:hover {
    background: #820A7D;
    border-color: #820A7D;
    color: white;
}

.detalles-total {
    width: 504px;
    height: 44px;
    display: flex;
    margin-top: 10px;
    padding: 8px 16px;
    justify-content: space-between;
    align-items: flex-end;
    align-self: stretch;
    border-radius: 8px;
    border: 2px solid var(--Buttons-Default, #007D7B);

}

.detalles-suma {
    color: var(--Text-Active, var(--ICON-ACTIVE, #025B59));
text-align: center;
/* Headlines/S */
font-family: 'Novatica', sans-serif;  
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 28px;
}

