.botonera-navegacion {
    display: flex;
    flex-direction: row;
    padding: 24px 0px;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}

.contenedor-boton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;}

.boton-navegacion {
    color: var(--Text-White, var(--ICON-WHITE, #F5F5F5));
    text-align: center;

    font-family: 'Novatica', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    display: flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex: 1 0 0;
    border-color: #007D7B;
    border-radius: 8px;
    background: var(--Buttons-Default, #007D7B);
    /* Button Shadow */
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}

.boton-navegacion:hover {
    background: #820A7D;
    border-color: #820A7D;
    color: white;
}

.boton-navegacion:active {
    display: inline-flex;
padding: 8px 16px;
justify-content: center;
align-items: center;
gap: 8px;
border-radius: 8px;
background: var(--ICON-ACTIVE, #025B59);
/* Button Pressed */
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;

}