.card-resumen {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    gap: 16px;
    border: none;
    box-shadow: none;


}


.foto-resumen {
    width: 120px;
    height: 150px;
    border-radius: 8px;
    object-fit: cover;
    overflow: hidden;
}