.select-filtros {

    color: var(--Text-Default, #252525);
    /* Fields/Dropdown */
    font-family: 'Lato', sans-serif, !important;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;

    display: flex;
    width: 300px;
    padding: 8px 16px;
    align-items: flex-start;
    gap: 4px;
    border: none;
    border-bottom: 2px solid var(--Buttons-Default, #007D7B);

    background: var(--Others-Inputs, #FFFFFA);
    appearance: none;
    /* Elimina el estilo predeterminado en algunos navegadores */
    -webkit-appearance: none;
    /* Elimina el estilo predeterminado en Chrome y Safari */
    -moz-appearance: none;
    /* Elimina el estilo predeterminado en Firefox */


}

/* Estilo para las opciones del select */
.select-filtros option {
    font-family: 'Lato', sans-serif, !important;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.titulo-filtros {
    color: var(--Text-Default, #252525);
    /* Body/M */
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 16px;
}

.contenedor-catalogo {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: nowrap;
    gap: 16px;
    margin: 0px 16px;
}

.tarjetas-catalogo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 32px;
    margin: 0px 16px;
}

.select-orden {
    display: flex;
    width: 249px;
    padding: 8px 16px;
    align-items: flex-start;
    gap: 4px;
    border-radius: 8px;
    border: 2px solid var(--Buttons-Default, #007D7B);
    background: var(--Others-Inputs, #FFFFFA);

}

.selector-orden {
    display: flex;
    flex-direction: column;
    width: 300px;
   justify-content: flex-end;
    gap: 4px;
align-items: end;
    margin-bottom: 24px;
}