.usuario {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    gap: 24px;
    width: 100%;
    height: 100%;
    padding: 24px;
    background: var(--Background-Primary, #FFFFFF);
    /* White */
    border-radius: 24px;
    /* Regular Shadow */
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.12);

}

.contenedor-body-checkout {
    display: flex;
    width: 680px;
    padding: 24px;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    flex-wrap: wrap;
    border-radius: 16px;
    background: var(--Others-Cards, #F9F9F7);
    /* Regular Shadow */
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.12);
    margin-left: 24px;

}



.contenedor-datos {
    display: flex;
    width: 95%;
    height: 600px;
    flex-shrink: 0;
    border-radius: 24px;
    background-color: #D9D9D9;

}

.envio {
    color: #000;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'Lato', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    /* 80% */
    display: flex;
    width: 30%;
    flex-basis: 30%;
    padding-top: 24px;
    padding-left: 24px;
}

.datos-envio {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 70%;
    flex-basis: 70%;
    gap: 20px;

}

.campo-input {

    display: flex;
    padding: 8px;
    align-items: flex-start;
    gap: 4px;
    border-radius: 8px;
    background: white;
    border: none;
    color: var(--Text-Secondary, #757575);
    /* Fields/Input Secondary */
    font-family: 'Lato', sans-serif !important;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: 24px;
}

.campo-formulario-datos {
    color: black;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;

    display: flex;
    width: 100%;
    height: 48px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-shrink: 0;
}

.contenedor-inputs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    flex-wrap: wrap;
    width: 100%;
    gap: 7px;
}

.contenedor-inputs-datos {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 7px;
    padding-right: 50px;
}

.label-inputs {
    color: #252525;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-left: 10px;
    

}

.label-datos {
    color: #848484;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}


.help-text {
    color: #d01212;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 275;
    line-height: 20px;
    margin-left: 10px;
}

#seleccionar-region {
    color: #848484;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    border-radius: 12px;
    background: #F8F5F5;
    border: 0px solid F8F5F5;

    display: flex;
    flex-direction: row;
    width: 380px;
    height: 48px;
    padding: 0px 24px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.campo-form {
    display: flex;
    justify-content: space-between;
    width: 100%;

}

.campo-corto {
    color: #848484;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    border-radius: 12px;
    background: #F8F5F5;
    border: 1px solid #757575;

    display: flex;
    flex-direction: row;
    width: max-content;
    height: 48px;
    padding: 0px 24px;
    justify-content: flex-start;
    align-items: center;
    flex-shrink: 0;
}

.campo-corto-datos {
    color: black;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    border-radius: 12px;

    display: flex;
    flex-direction: row;
    width: 335px;
    height: 48px;
    justify-content: flex-start;
    align-items: center;
    flex-shrink: 0;
}



.boton-formulario {
    transition: ease all .3s;
    display: flex;
    align-items: center;
    width: max-content;
    height: 48px;
    padding: 0px 24px;
    flex-shrink: 0;
    border-radius: 12px;
    color: #F8F5F5;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border: none;
    cursor: pointer;

}

.boton-formulario:hover {
    background: #a44aaa;
    transform: translatex(4px);
}

.boton-datos {
    width: 350px;
    height: 48px;
    padding: 0px 24px;
    flex-shrink: 0;
    border-radius: 12px;
    background-color: #848484;
    border-color: #848484;
    color: #F8F5F5;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

}

.boton-datos:hover {
    background: rgb(50, 246, 0);
    border-color: rgb(50, 246, 0);
    color: black;
}

.botones-datos {
    display: flex;
    width: 800px;
    gap: 40px;
}


.contenedor-pago {
    display: flex;
    width: 95%;
    height: 144px;
    flex-shrink: 0;
    border-radius: 24px;
    background-color: #D9D9D9;
}

.pago {
    color: #000;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'Lato', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    padding: 0px 56px;
    display: flex;
    width: 268px;
    height: 144px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-shrink: 0;
}

.seleccione-pago {
    color: #000;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'Lato', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
    padding-left: 110px;
    width: 95%;
}

.contenedor-seleccione-pago {
    display: block;
    flex-direction: column;
    flex-wrap: wrap;
    width: 95%;
    height: 300px;
    flex-shrink: 0;
    border-radius: 24px;
    background-color: #D9D9D9;

}

.medios-pago {
    width: 336px;
    height: 72px;
    flex-shrink: 0;
    border-radius: 16px;
    background: #F8F5F5;
    border: 0px solid #F8F5F5;
    color: #5F5F5F;

    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
}

.medios-pago:hover {
    width: 336px;
    height: 72px;
    flex-shrink: 0;
    border-radius: 16px;
    background: rgb(50, 246, 0);
    border: 0px solid rgb(50, 246, 0);
    color: black;

    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
}

.medios-pago-clicked {
    width: 336px;
    height: 72px;
    flex-shrink: 0;
    border-radius: 16px;
    background: rgb(50, 246, 0);
    border: 0px solid rgb(50, 246, 0);

    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
}

.contenedor-body-medios-pago {
    display: flex;
    height: 700px;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    padding-bottom: 48px;
}

.contenedor-body-exito-pago {
    display: flex;
    height: 1100px;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    padding-bottom: 48px;
}


.boton-volver {
    width: 336px;
    height: 72px;
    flex-shrink: 0;
    border-radius: 16px;
    background: #5F5F5F;
    border: 0px solid #5F5F5F;
    color: white;

    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
}

.boton-volver:hover {
    width: 336px;
    height: 72px;
    flex-shrink: 0;
    border-radius: 16px;
    background: rgb(50, 246, 0);
    border: 0px solid rgb(50, 246, 0);
    color: black;

    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
}

.contenedor-volver-home {
    display: block;
    flex-direction: column;
    flex-wrap: wrap;
    width: 95%;
    height: 110px;
    flex-shrink: 0;

}

.label-inputs {
    color: black;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    margin-left: 10px;
    text-align: left;
}

.label-datos {
    color: #848484;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
}


.campo-select {
    display: flex;
    justify-content: space-between;
    width: 800px;

}