.product-detail {
    padding: 40px 60px 20px 60px;
}

.product-actions {
    display: flex;
    flex-direction: column;
    align-items: end;

}

.product-info {
    align-items: start;
    flex-direction: column;
    
    display: flex;
    gap: 6px;
}

.compra-unitaria {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: space-between;

    margin-bottom: 24px;

    border-radius: 16px;
    min-width: 280px;

    padding: 24px;
    justify-content: space-between;
    align-content: center;

    flex-wrap: wrap;

    background: var(--Others-Cards, #F9F9F7);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}

.detalles-titulo {
    color: var(--Text-Default, #252525);
    font-family: 'Novatica', sans-serif !important;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
}

.detalles-precio {
    color: var(--Text-Default, #820A7D);
    font-family: 'Novatica', sans-serif !important;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
}

.detalles-descripcion {
    color: var(--Text-Default, #252525);
    text-overflow: ellipsis;
    /* Body/S */
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}


.agregar-carro {
    color: #F5F5F5;
    text-align: center;
    /* Button/L */
    font-family: 'Novatica', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    width: 1200px;
    display: flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    /*flex: 1 0 0;*/
    border-color: #007D7B;
    border-radius: 8px;
    background: var(--Buttons-Default, #007D7B);
    /* Button Shadow */
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.agregar-carro:hover {
    background: #820A7D;
    border-color: #820A7D;
    color: white;
}

.agregar-carro:active {
    display: inline-flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    background: var(--ICON-ACTIVE, #025B59);
    /* Button Pressed */
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;

}

.detalles-total {
    min-width: 200px;
    height: 44px;
    display: flex;
    margin-top: 20px;
    padding: 8px 16px;
    justify-content: space-between;

    border-radius: 8px;
    border: 2px solid var(--Buttons-Default, #007D7B);

}

.detalles-suma {
    color: var(--Text-Active, var(--ICON-ACTIVE, #025B59));
    text-align: center;
    /* Headlines/S */
    font-family: 'Novatica', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
}

.botonera {
    margin: 0px 10px;

}

/* Oculta el botón de radio original */
input[type='radio'] {
    display: none;
}

/* Crea un botón de radio personalizado */
input[type='radio']+label {
    padding-bottom: 25px;
    height: 20px;
    display: inline-block;
    line-height: 20px;
    background-repeat: no-repeat;
    background-position: 0 0;
    font-size: 13px;
    vertical-align: middle;
    cursor: pointer;
}

.seleccion-plan {

    color: var(--Text-Default, #252525);
    /* Fields/Dropdown */
    font-family: 'Lato', sans-serif, !important;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    display: flex;
    width: 550px;
    padding: 8px 16px;
    align-items: flex-start;
    gap: 4px;
    border-radius: 8px;
    border: 2px solid var(--Buttons-Default, #007D7B);
    background: var(--Others-Inputs, #FFFFFA);
    appearance: none;
    /* Elimina el estilo predeterminado en algunos navegadores */
    -webkit-appearance: none;
    /* Elimina el estilo predeterminado en Chrome y Safari */
    -moz-appearance: none;
    /* Elimina el estilo predeterminado en Firefox */
}

/* Estilo para las opciones del select */
.seleccion-plan option {
    font-family: 'Lato', sans-serif, !important;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}