.títulos {
    padding-left: 120px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 120px;
    color: var(--text-default, #252525);
    /* Headlines/L */
    font-family: novatica, sans-serif;
    font-size: 36px;
    font-weight: bold;
    font-style: normal;
    line-height: 44px;
    text-align: center;
}

.publicaciones-ig {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 24px;
}

.frame-ig {
    width: 270px;
    justify-content: center;
}